@model BikeRental_MVC.Models.Bike

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bike</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentPerDay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
